# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Lua Action
        # You may pin to the exact commit or the version.
        # uses: MilesChou/lua-action@29d9d758438e3c8856f521d4e3ae7b012893cde0
        uses: MilesChou/lua-action@v0.0.1
      - name: Install LuaRocks
        # You may pin to the exact commit or the version.
        # uses: leafo/gh-actions-luarocks@1638dcfaa6680abaf0f1150838c16ef0db955928
        uses: leafo/gh-actions-luarocks@v3
      - name: Install busted
        run: luarocks install busted && luarocks install net-url
      - name: Run Tests
        run: busted
